<div class="row">
    <div class="col">
        <!-- IconMenu and Drive -->
            <ul class="navbar-collapse mr-auto">
                <li class="nav-item active">
                  <a class="nav-link iconscolor" href="#">
                    <i class="fa fa-home fa-3x"></i>
                    ACCEILL
                   
                    </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link iconscolor" href="#">
                    <i class="fa fa-car fa-3x"></i>
                    DRIVE
                  </a>
                </li>
            </ul>
         
        
      

    </div>
<!-- LOGO -->
    <div class="col">
        <h1 >LOGO</h1>
    </div>
   
        <!-- shopping and user -->
        <div class="col-md-1">
            <i class="fa fa-shopping-basket fa-2x text-success mr-2"></i>
            <i class="fa fa-user fa-3x text-success"></i>
        </div>
            

        <!-- search -->
        <div class="col-md-2">
            
            <form class="form-inline my-2 my-lg-0" wfd-id="439">
                <input class="form-control mr-sm-2" type="text" placeholder="Search" wfd-id="521">

              </form>
        </div>
    
</div>