.iconscolor{
    color: #8FF485;
    float: left;
  display: block;
}
.nav-item{
   
    text-align: center;
    display: table-cell;
    height: 70px;
    vertical-align: middle;
    padding-top: 0;
    padding-bottom: 0;
    font-family: sans-serif;
}