<app-firstbar></app-firstbar>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation" wfd-id="648">
      <span class="navbar-toggler-icon" wfd-id="446"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarColor03" wfd-id="438">
        <ul class="navbar-nav m-auto" wfd-id="440">
            <li class="nav-item active" wfd-id="444">
              <a class="nav-link" href="#">VIANDE BIOLALE <span class="sr-only" wfd-id="445">(current)</span></a>
            </li>
            <li class="nav-item" wfd-id="443">
              <a class="nav-link text-success" href="#">EPICRIES</a>
            </li>
            <li class="nav-item" wfd-id="442">
              <a class="nav-link text-success" href="#">EPICES</a>
            </li>
            <li class="nav-item" wfd-id="441">
              <a class="nav-link text-success" href="#">FRUITS SECS</a>
            </li>
            <li class="nav-item" wfd-id="440">
                <a class="nav-link text-success" href="#">BOISSON</a>
              </li>
              <li class="nav-item" wfd-id="439">
                <a class="nav-link text-success" href="#">ALIMENTATION BEBE</a>
              </li>
              <li class="nav-item" wfd-id="438">
                <a class="nav-link text-success" href="#">SANTE</a>
              </li>
              <li class="nav-item" wfd-id="437">
                <a class="nav-link text-success" href="#">BEAUTE HYGIENNE</a>
              </li>
              <li class="nav-item" wfd-id="436">
                <a class="nav-link text-success" href="#">NOS CONSEILS</a>
              </li>
            
          </ul>
     
    </div>
  </nav>