
 <div class="row">
    <h4 class="mr-5 text-muted">contact info : </h4>
     <div class="col  ">
        <i class=" inoneline fa fa-envelope text-success mr-2"></i>
        <p class="text-muted inoneline">admin@biolol.com</p>
     </div>
     <div class="col">
        <i class=" inoneline fa fa-phone text-success mr-2"></i>
        <p class="text-muted inoneline">+2126543567</p>
     </div>
     <div class="col">
        <i class=" inoneline fa fa-map-marker text-success mr-2"></i>
        <p class="text-muted inoneline">+2126543567</p>
        
     </div>
  
 </div>