<form class="form-detail" action="#" method="post">
				<h2>créer un compte</h2>

				<div class="form-row">
					<input type="text" name="your-email" id="your-email" class="input-text" placeholder="Email Address" required pattern="[^@]+@[^@]+.[a-zA-Z]{2,6}">
				</div>
				<div class="form-row">
					<input type="password" name="password" id="password" class="input-text" placeholder="Password" required>
				</div>
				<div class="form-row">
					<input type="password" name="comfirm-password" id="comfirm-password" class="input-text" placeholder="Comfirm Password" required>
				</div>
				<div class="form-row-last">
					<input type="submit" name="register" class="btn btn-success text-white" value="Créer mon compte">
				</div>
				
				<div class="custom-control custom-checkbox" wfd-id="301">
					<input type="checkbox" class="custom-control-input" id="customCheck1" checked="" wfd-id="493">
					<label class="custom-control-label text-dark mt-3" for="customCheck1" wfd-id="302">J'accepte les termes et conditions</label>
				  </div>
			</form> 