<div class="form-left">
<form class="form-detail" action="#" method="post">
    <h2>Se connecter</h2>
 
    <div class="form-row">
        <input type="text" name="your-email" id="your-email" class="input-text" placeholder="Email Address" required pattern="[^@]+@[^@]+.[a-zA-Z]{2,6}">
    </div>
    <div class="form-row">
        <input type="password" name="password" id="password" class="input-text" placeholder="Password" required>
    </div>
 
    <div class="form-row-last">
        <input type="submit" name="register" class="btn btn-success text-white" value="Me connecter">
    </div>

    <a href="#" class="oubliermotdpasse" >Oublier mot de passe?</a>

    <div class="login-or">
        <hr class="hr-or">
        <span class="span-or">Ou</span>
      </div>

  
        <div class="row">
          <div class="col-xs-6 col-sm-6 col-md-6">
            <a href="#" class="btn btn-lg btn-success btn-block"><i class="fa fa-facebook-f fa-lg"></i></a>
          </div>
          <div class="col-xs-6 col-sm-6 col-md-6">
            <a href="#" class="btn btn-lg btn-success btn-block"><i class="fa fa-google fa-lg"></i></a>
          </div>
        </div>
      

    
        
  
</form> 
</div>

