<div class="row">
    <div class="linefooter mb-3 text-muted"></div>
    <div class="col">
        <h1>LOGO</h1>
        
          <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Excepturi 
              recusandae dignissimos illum sunt quaerat
          </p>
        
    </div>



    <div class="col">
        <h5>lorem ipsum</h5>
        
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Excepturi recusandae
               dignissimos illum sunt quaerat
          </p>
         <a href="#"><i class="fa fa-facebook fa-2x text-success mr-2"></i></a> 
         <a href="#"> <i class="fa fa-twitter fa-2x text-success mr-2"></i></a>
         <a href="#"> <i class="fa fa-instagram fa-2x text-success"></i></a>
        
    </div>
    <div class="col">
        <h5>lorem ipsum</h5>
        <p>Lorem ipsum</p>
        <p>Lorem ipsum</p>
        <p>Lorem ipsum</p>
        <p>Lorem ipsum</p>

    </div>
    <div class="col">
        <h5>lorem ipsum</h5>
        <p>Lorem ipsum</p>
        <p>Lorem ipsum</p>
        <p>Lorem ipsum</p>
        <p>Lorem ipsum</p>

    </div>

    <div class="col">
        <h5>lorem ipsum</h5>
        <div class="card-body" wfd-id="47">
          <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Excepturi recusandae
               dignissimos illum sunt quaerat
          </p>
          <div class="form-group has-success" wfd-id="328">
            <input type="text" value="" placeholder="search" class="form-control is-search" id="inputValid" wfd-id="502">
            
          </div>
        </div>
    </div>

    
        

</div>